Source: salt-formula-nginx
Maintainer: Filip Pytloun <filip.pytloun@tcpcloud.eu>
Section: admin
Priority: optional
Build-Depends: salt-master, python, python-yaml, debhelper (>= 9), salt-formula-salt
Standards-Version: 3.9.6
Homepage: http://www.tcpcloud.eu
Vcs-Browser: https://github.com/tcpcloud/salt-formula-nginx
Vcs-Git: https://github.com/tcpcloud/salt-formula-nginx.git

Package: salt-formula-nginx
Architecture: all
Depends: ${misc:Depends}
Description: Nginx Salt formula
 Install and configure nginx server.
